/* Auto Update link */
@import url(https://iona.quest/import/comfynord.css);

:root {
    --main-black: black;
    --main-white: white;
    --nord-0: #2e3440;
    --nord-1: #3b4252;
    --nord-2: #434c5e;
    --nord-3: #4c566a;
    --nord-7: #8fbcbb;
    --nord-8: #88c0d0;
    --nord-9: #81a1c1;
    --nord-10:#5e81ac;
}

@font-face {
    font-family: gamefont;
    src: url(https://fonts.gstatic.com/s/rubik/v14/iJWKBXyIfDnIV7nBrXw.woff2) format('woff2');
}

/* CSS By iona (eeona on discord)
Comfy Nord

goobs (urname2162) edits to keep it functional :3

If you wish to make edits, put them below this comment :)
Hope you enjoy this CSS! */

/* maintenance fixes */

#menuClassContainer>div:nth-child(7) {
    right: 440px;
}

#menuClassContainer>div:nth-child(6) {
    right: 452px;
}

#subLogoButtons {
    right: 350px;
}

.icon-button[title="Leaderboards"] {
    display: none !important;
}

tbody>tr>td {
    text-align: left; !important
}

/* MARKET AND TURF WARS BUTTONS */

/* make containers transparent */
div.main-menu-button-container:nth-child(1),
div.main-menu-button-container:nth-child(2) {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    width: 200px !important;
    height: 50px !important;
    padding: 0 !important;
    display: block !important; 
}

/* positioning */
div.main-menu-button-container:nth-child(1) {
    top: auto !important;   /* cancel out top */
    left: auto !important;  /* canel out left */
    
    bottom: 630px !important; 
    right: 20px !important;   
    
    position: absolute !important;
    z-index: 10 !important; 
}

div.main-menu-button-container:nth-child(2) {
    top: auto !important;
    left: auto !important;
    
    bottom: 560px !important; /* market is 80 below turf */
    right: 20px !important;
    
    position: absolute !important;
    z-index: 11 !important; 
}

/* big background box */
div.main-menu-button-container:nth-child(1)::before {
    content: "";
    position: absolute;
    top: -10px !important;
    left: -10px !important;
    width: 220px !important;
    height: 150px !important;
    background-color: var(--nord-0) !important;
    border: 1px solid var(--nord-3) !important;
    border-radius: 8px !important;
    z-index: -1 !important;
    pointer-events: none !important;
}

/* make inner text elements the visible buttons */
div.main-menu-button-container:nth-child(1) .main-menu-button-text,
div.main-menu-button-container:nth-child(2) .main-menu-button-text {

    display: flex !important;
    justify-content: flex-end !important;
    align-items: center !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    

    width: 200px !important;
    height: 60px !important;
    box-sizing: border-box !important;
    border-radius: 6px !important;
    
    padding-right: 75px !important;
    
    background-color: var(--nord-1) !important;
    border: 1px solid var(--nord-3) !important;
    

    font-size: 1.25rem !important;
    margin: 0 !important;
    text-shadow: none !important;
    color: var(--main-white) !important;
    transform: none !important;
}

/* no wiggly shit */
div.main-menu-button-container.svelte-f3amho:hover {
    transform: none !important; 
}

/* no glow */
div.main-menu-button-container.svelte-f3amho {
    filter: none !important; 
}

/* hide icons */
div.main-menu-button-container:nth-child(1)  .main-menu-button-image-wrapper,
div.main-menu-button-container:nth-child(2)  .main-menu-button-image-wrapper {
    display: none !important;
}

/* icon for turf war */
div.main-menu-button-container:nth-child(1) .main-menu-button-text::after {
    content: "military_tech" !important; /* The name of the icon */
    font-family: 'Material Symbols Outlined', 'Material Icons' !important; 
    
    position: absolute !important;
    right: 15px !important;
    top: 50% !important;
    transform: translateY(-50%) !important; /*center*/
    
    font-size: 50px !important;
    color: var(--nord-10) !important;
}

/* icon for market */
div.main-menu-button-container:nth-child(2) .main-menu-button-text::after {
    content: "shopping_cart" !important; 
    font-family: 'Material Symbols Outlined', 'Material Icons' !important; 
    
    position: absolute !important;
    right: 15px !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    
    font-size: 50px !important;
    color: var(--nord-10) !important;
}

/* hover effect for both icons */
div.main-menu-button-container:nth-child(1):hover .main-menu-button-text::after,
div.main-menu-button-container:nth-child(2):hover .main-menu-button-text::after {
    color: var(--nord-8) !important;
}
